<?xml version="1.0" encoding="utf-8"?>
<manifest android:versionCode="400275888" android:versionName="4.0.2211372850.275888" package="com.android.camera"
  xmlns:android="http://schemas.android.com/apk/res/android" xmlns:pluto="http://www.w3.org/2001/pluto.html">
    <uses-sdk android:minSdkVersion="15" android:targetSdkVersion="15" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.SET_WALLPAPER" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INJECT_AUDIO_VOLUME_SETTINGS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.CHANGE_BACKGROUND_DATA_SETTING" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SECURE_SETTINGS" />
    <uses-permission android:name="android.permission.DEVICE_POWER" />
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" android:required="false" />
    <uses-permission android:name="android.permission.ACCESS_UPLOAD_MANAGER" />
    <uses-permission android:name="com.android.settings.permission.ACCESS_SETTINGS" />
    <uses-permission android:name="com.htc.MediaAutoUploadSetting.permission.AUTO_UPLOAD" />
    <application android:label="@string/htc_private_app" android:icon="@drawable/ic_launcher_camera" android:description="@com.htc:string/htc_about_company_name" android:hardwareAccelerated="false" pluto:isThemeable="true" allowSkinChange="true">
        <receiver android:name="CameraButtonIntentReceiver">
            <intent-filter>
                <action android:name="android.intent.action.CAMERA_BUTTON" />
            </intent-filter>
        </receiver>
        <receiver android:name="CamcorderButtonIntentReceiver">
            <intent-filter>
                <action android:name="android.intent.action.CAMCORDER_BUTTON" />
            </intent-filter>
        </receiver>
        <activity android:theme="@style/Camera_window" android:label="@string/htc_private_app" android:icon="@drawable/ic_launcher_camera" android:name="CameraEntry" android:taskAffinity="android.task.camera" android:clearTaskOnLaunch="true" android:launchMode="singleTask" android:screenOrientation="portrait" android:configChanges="keyboardHidden|orientation">
            <meta-data android:name="android.app.default_searchable" android:value="*" />
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:theme="@style/Camcorder_window" android:label="@string/camcorder_name" android:icon="@drawable/ic_launcher_camcorder" android:name="CamcorderEntry" android:taskAffinity="android.task.Camcorder" android:clearTaskOnLaunch="true" android:launchMode="singleTask" android:screenOrientation="portrait" android:configChanges="keyboardHidden|orientation">
            <meta-data android:name="android.app.default_searchable" android:value="*" />
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:theme="@style/mirror_window" android:label="@string/mirror_name" android:icon="@drawable/ic_launcher_mirror" android:name="MirrorEntry" android:taskAffinity="android.task.mirror" android:clearTaskOnLaunch="true" android:launchMode="singleTask" android:screenOrientation="portrait" android:configChanges="keyboardHidden|orientation">
            <meta-data android:name="android.app.default_searchable" android:value="*" />
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:theme="@style/_window" android:name="ServiceEntry" android:taskAffinity="android.task.Service" android:clearTaskOnLaunch="true" android:screenOrientation="portrait" android:configChanges="keyboardHidden|orientation">
            <meta-data android:name="android.app.default_searchable" android:value="*" />
            <intent-filter>
                <action android:name="android.media.action.IMAGE_CAPTURE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.media.action.STILL_IMAGE_CAMERA" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:theme="@style/_window" android:label="@string/camcorder_name" android:icon="@drawable/ic_launcher_camcorder" android:name="VideoServiceEntry" android:taskAffinity="android.task.Service" android:clearTaskOnLaunch="true" android:screenOrientation="portrait" android:configChanges="keyboardHidden|orientation">
            <meta-data android:name="android.app.default_searchable" android:value="*" />
            <intent-filter>
                <action android:name="android.media.action.VIDEO_CAPTURE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.media.action.VIDEO_CAMERA" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name="com.android.camera.sceneselector.SceneSelectorActivity" android:configChanges="keyboardHidden" />
    </application>
</manifest>
