<?xml version="1.0" encoding="utf-8"?>
<manifest android:sharedUserId="com.htc.rosie.uid.shared" android:versionCode="305268932" android:versionName="3.5.2211263239.268932" package="com.htc.launcher"
  xmlns:android="http://schemas.android.com/apk/res/android">
    <permission android:label="@string/permlab_install_shortcut" android:name="com.android.launcher.permission.INSTALL_SHORTCUT" android:protectionLevel="normal" android:permissionGroup="android.permission-group.SYSTEM_TOOLS" android:description="@string/permdesc_install_shortcut" />
    <permission android:label="@string/permlab_uninstall_shortcut" android:name="com.android.launcher.permission.UNINSTALL_SHORTCUT" android:protectionLevel="normal" android:permissionGroup="android.permission-group.SYSTEM_TOOLS" android:description="@string/permdesc_uninstall_shortcut" />
    <permission android:label="@string/permlab_update_shortcut" android:name="com.htc.launcher.permission.UPDATE_SHORTCUT" android:protectionLevel="normal" android:permissionGroup="android.permission-group.SYSTEM_TOOLS" android:description="@string/permdesc_update_shortcut" />
    <permission android:label="@string/permlab_read_settings" android:name="com.htc.launcher.permission.READ_SETTINGS" android:protectionLevel="normal" android:permissionGroup="android.permission-group.SYSTEM_TOOLS" android:description="@string/permdesc_read_settings" />
    <permission android:label="@string/permlab_write_settings" android:name="com.htc.launcher.permission.WRITE_SETTINGS" android:protectionLevel="normal" android:permissionGroup="android.permission-group.SYSTEM_TOOLS" android:description="@string/permdesc_write_settings" />
    <permission android:name="com.htc.launcher.permission.READ_PERSONALIZE_INFO" android:protectionLevel="signatureOrSystem" />
    <permission android:name="com.htc.launcher.permission.WRITE_PERSONALIZE_INFO" android:protectionLevel="signatureOrSystem" />
    <permission android:name="com.htc.launcher.permission.READ_WORKSPACE_INFO" android:protectionLevel="signatureOrSystem" />
    <permission android:name="com.htc.launcher.permission.WRITE_WORKSPACE_INFO" android:protectionLevel="signatureOrSystem" />
    <permission android:label="@string/permlab_write_settings" android:name="com.htc.launcher.permission.CLEAN_SCENE" android:protectionLevel="signatureOrSystem" android:permissionGroup="android.permission-group.SYSTEM_TOOLS" android:description="@string/permdesc_write_settings" />
    <permission android:name="htc.android.Rosie.ACTION_ITEM_CHANGE" android:protectionLevel="signatureOrSystem" />
    <permission android:name="com.htc.launcher.permission.UPDATE_DESKTOP" android:protectionLevel="signatureOrSystem" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.EXPAND_STATUS_BAR" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.SET_WALLPAPER" />
    <uses-permission android:name="android.permission.SET_WALLPAPER_HINTS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="com.htc.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="com.htc.launcher.permission.WRITE_SETTINGS" />
    <uses-permission android:name="com.htc.launcher.permission.SCAN_WIDGETS" />
    <uses-permission android:name="com.htc.launcher.permission.READ_FX_WIDGETS" />
    <uses-permission android:name="com.htc.launcher.permission.WRITE_FX_WIDGETS" />
    <uses-permission android:name="com.htc.home.personalize.permission.READ_SCENES" />
    <uses-permission android:name="com.htc.home.personalize.permission.WRITE_SCENES" />
    <uses-permission android:name="android.permission.SET_TIME_ZONE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.READ_SYNC_STATS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="htc.android.Rosie.ACTION_ITEM_CHANGE" />
    <application android:label="@string/htc_private_app" android:icon="@drawable/ic_rosie_home" android:name="LauncherApplication" android:description="@com.htc:string/htc_about_company_name" android:hardwareAccelerated="true" allowSkinChange="true">
        <uses-library android:name="com.htc.android.rosie" />
        <uses-library android:name="com.htc.htcSceneManager" />
        <uses-library android:name="com.htc.fusion.fx" />
        <activity android:theme="@style/Theme" android:name=".Launcher" android:clearTaskOnLaunch="true" android:stateNotNeeded="true" android:launchMode="singleTask" android:screenOrientation="portrait" android:configChanges="mcc|mnc|keyboard|keyboardHidden|navigation|orientation|uiMode|screenSize" android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="com.htc.launcher.action.OPEN_LAUNCHER_BAR_FOLDER" />
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.HOME" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.MONKEY" />
                <category android:name="com.htc.launcher.intent.category.SEARCH" />
            </intent-filter>
        </activity>
        <activity android:theme="@style/Theme.Dummy" android:name="com.htc.launcher.CarouselDummyActivity">
            <intent-filter>
                <action android:name="com.htc.launcher.CarouselDummyActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <meta-data android:name="android.app.default_searchable" android:value="*" />
        <receiver android:name=".InstallShortcutReceiver" android:permission="com.android.launcher.permission.INSTALL_SHORTCUT">
            <intent-filter>
                <action android:name="com.android.launcher.action.INSTALL_SHORTCUT" />
            </intent-filter>
        </receiver>
        <receiver android:name=".PersonalizeSummaryReceiver" android:enabled="false" android:exported="false">
            <intent-filter>
                <action android:name="com.htc.intent.ACTION_PERSONALIZE_SCENE_CHANGED" />
                <action android:name="com.htc.intent.ACTION_PERSONALIZE_WALLPAPER_CHANGED" />
                <action android:name="com.htc.intent.ACTION_PERSONALIZE_SKIN_CHANGED" />
                <action android:name="com.htc.intent.ACTION_PERSONALIZE_ADD_TO_HOME_CHANGED" />
                <action android:name="com.htc.intent.ACTION_PERSONALIZE_SOUND_SET_CHANGED" />
                <action android:name="com.htc.intent.ACTION_PERSONALIZE_RINGTONE_CHANGED" />
                <action android:name="com.htc.intent.ACTION_PERSONALIZE_NOTIFICATION_SOUNDS_CHANGED" />
                <action android:name="com.htc.intent.ACTION_PERSONALIZE_ALARM_CHANGED" />
                <action android:name="com.htc.intent.ACTION_PERSONALIZE_ADD_WIDGET_TO_HOME_CHANGED" />
                <action android:name="com.htc.intent.ACTION_PERSONALIZE_ADD_APP_TO_HOME_CHANGED" />
                <action android:name="com.htc.intent.ACTION_PERSONALIZE_ADD_SHORTCUT_TO_HOME_CHANGED" />
                <action android:name="com.htc.intent.ACTION_PERSONALIZE_ADD_FOLDER_TO_HOME_CHANGED" />
            </intent-filter>
        </receiver>
        <receiver android:name=".UninstallShortcutReceiver" android:permission="com.android.launcher.permission.UNINSTALL_SHORTCUT">
            <intent-filter>
                <action android:name="com.android.launcher.action.UNINSTALL_SHORTCUT" />
            </intent-filter>
        </receiver>
        <receiver android:name=".UpdateShortcutReceiver" android:permission="com.htc.launcher.permission.UPDATE_SHORTCUT">
            <intent-filter>
                <action android:name="com.htc.launcher.action.UPDATE_SHORTCUT" />
            </intent-filter>
        </receiver>
        <provider android:name="LauncherProvider" android:readPermission="com.htc.launcher.permission.READ_SETTINGS" android:writePermission="com.htc.launcher.permission.WRITE_SETTINGS" android:authorities="com.htc.launcher.settings" />
        <provider android:name="com.htc.launcher.AllAppsCarouselProvider" android:exported="false" android:authorities="com.htc.launcher.AllAppsCarouselProvider" />
        <provider android:name="PersonalizeContentProvider" android:readPermission="com.htc.launcher.permission.READ_PERSONALIZE_INFO" android:writePermission="com.htc.launcher.permission.WRITE_PERSONALIZE_INFO" android:authorities="com.htc.launcher.personalize" />
        <provider android:name="WorkspaceInfoProvider" android:readPermission="com.htc.launcher.permission.READ_WORKSPACE_INFO" android:writePermission="com.htc.launcher.permission.WRITE_WORKSPACE_INFO" android:authorities="com.htc.launcher.workspaceinfo" />
        <receiver android:name="GeneralPurposeReceiver" android:permission="com.htc.launcher.permission.UPDATE_DESKTOP">
            <intent-filter>
                <action android:name="com.htc.rosie.ACTION_SCAN_HTC_WIDGET_DONE" />
                <action android:name="com.htc.home.personalize.SceneProvider.ACTION_SCENE_CHANGED" />
                <action android:name="com.htc.home.personalize.Action.PickItem" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_DATA_CLEARED" />
                <data android:scheme="package" />
            </intent-filter>
        </receiver>
        <receiver android:name=".Launcher$WallpaperIntentReceiver">
            <intent-filter>
                <action android:name="android.intent.action.WALLPAPER_CHANGED" />
            </intent-filter>
        </receiver>
        <receiver android:name=".AddFavoriteReceiver" android:permission="com.htc.launcher.permission.UPDATE_DESKTOP">
            <intent-filter>
                <action android:name="com.htc.launcher.ACTION_ADD_FAVORITE" />
            </intent-filter>
        </receiver>
        <receiver android:name=".CustomizationChangeReceiver" android:permission="htc.permission.CUSTOMIZATION_CHANGE">
            <intent-filter>
                <action android:name="android.htc.intent.action.CUSTOMIZATION_CHANGE" />
            </intent-filter>
        </receiver>
        <receiver android:name=".DesktopRestoreReceiver">
            <intent-filter>
                <action android:name="com.htc.launcher.action.restore_desktop_items" />
            </intent-filter>
        </receiver>
    </application>
    <uses-sdk android:minSdkVersion="7" android:targetSdkVersion="14" />
</manifest>
