<?xml version="1.0" encoding="utf-8"?>
<manifest android:sharedUserId="com.htc.album.uid.shared" android:versionCode="405305814" android:versionName="4.5.2212272153.305814" package="com.htc.album"
  xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-sdk android:minSdkVersion="15" android:targetSdkVersion="15" />
    <supports-screens android:anyDensity="true" android:smallScreens="true" android:normalScreens="true" android:largeScreens="true" android:resizeable="true" android:xlargeScreens="true" />
    <application android:theme="@style/Theme.base" android:label="@string/str_app_name3" android:icon="@drawable/albums" android:taskAffinity="" android:description="@com.htc:string/htc_about_company_name" android:hardwareAccelerated="false" allowSkinChange="true">
        <uses-library android:name="com.htc.sunny2" />
        <meta-data android:name="opensense" android:resource="@xml/supports" />
        <activity android:theme="@style/Theme.fakescreen" android:name="com.htc.album.AlbumMain.ActivityMainDropList" android:launchMode="singleTop" android:configChanges="keyboardHidden|orientation|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name="com.htc.album.AlbumMain.ActivityMainExtLauncher" android:excludeFromRecents="true" android:launchMode="singleTop" android:configChanges="keyboardHidden|orientation|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.htc.album.action.MainEntry" android:mimeType="*/*" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.htc.album.action.VIEW_PHOTO_FROM_CAMERA" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="image/jpeg" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.htc.album.action.VIEW_SNAPBOOTH" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="image/jpeg" />
            </intent-filter>
            <intent-filter android:excludeFromRecents="true">
                <action android:name="com.htc.album.action.VIEW_FOLDER" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="image/*" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.htc.album.action.DLNA_VIEW_LOCAL_PHOTO" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="*/*" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.htc.album.action.ALL_VIDEOS" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="video/*" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.htc.album.action.DLNA_BROWSE_LOCAL" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="*/*" />
            </intent-filter>
        </activity>
        <activity android:name="com.htc.album.TabPluginDevice.ActivityMainLocal" android:excludeFromRecents="true" android:launchMode="singleTop" android:configChanges="keyboardHidden|orientation|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name="com.htc.album.TabPluginDevice.ActivityAlbumFolderSelector" android:configChanges="keyboardHidden|orientation|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:label="@string/str_app_name_videos" android:name="com.htc.album.TabPluginDevice.ActivityAllVideos" android:clearTaskOnLaunch="true" android:stateNotNeeded="true" android:launchMode="singleInstance" android:configChanges="keyboardHidden|orientation|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name="com.htc.album.SocialNetwork.ActivityMainOnline" android:excludeFromRecents="true" android:launchMode="singleTop" android:configChanges="keyboardHidden|orientation|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.htc.album.actions.opensense.albums" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:theme="@style/Theme.white" android:name="com.htc.album.SocialNetwork.ActivityMainComments" android:configChanges="keyboardHidden|orientation|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name="com.htc.album.SocialNetwork.ActivityMainWriteComment" android:exported="false" android:configChanges="keyboard|keyboardHidden" android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".addons.ActivityUploadEditor" android:launchMode="singleTop" android:configChanges="keyboardHidden|orientation|screenSize">
            <intent-filter>
                <action android:name="com.htc.HTCAlbum.action.LAUNCH_UPLOAD_EDITOR" />
                <category android:name="android.intent.category.OPENABLE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen" android:label="@string/view_video_label" android:name=".addons.ActivityTagView" android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity android:theme="@style/Theme.white" android:label="@string/view_video_label" android:name=".SocialNetwork.ActivitySearchView" android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity android:theme="@android:style/Theme.NoTitleBar.Fullscreen" android:label="Raw Image Viewer" android:name=".addons.slideshow.SlideShow" android:configChanges="keyboardHidden|orientation|screenSize">
            <intent-filter>
                <action android:name="com.htc.HTCAlbum.action.LAUNCH_SLIDESHOW" />
                <category android:name="android.intent.category.OPENABLE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:theme="@android:style/Theme.NoTitleBar.Fullscreen" android:label="Album 3D Slideshow" android:name=".addons.slideshow.Slideshow3D" android:configChanges="keyboardHidden|orientation|screenSize">
            <intent-filter>
                <action android:name="com.htc.HTCAlbum.action.LAUNCH_SLIDESHOW3D" />
                <category android:name="android.intent.category.OPENABLE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:theme="@style/Theme" android:label="@string/album_setting_catagory" android:name=".addons.slideshow.AlbumSettings" />
        <activity android:name="com.htc.album.picker.PickerFolderActivity" android:excludeFromRecents="true" android:launchMode="singleTop" android:configChanges="keyboardHidden|orientation|screenSize">
            <intent-filter>
                <action android:name="com.htc.HTCAlbum.action.FOLDER_PICKER_FROM_COLLECTIONS" />
                <category android:name="android.intent.category.OPENABLE" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="image/*" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.htc.HTCAlbum.action.FOLDER_PICKER_FROM_COLLECTIONS" />
                <category android:name="android.intent.category.OPENABLE" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="video/*" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.htc.HTCAlbum.action.FOLDER_PICKER_FROM_COLLECTIONS" />
                <category android:name="android.intent.category.OPENABLE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.htc.HTCAlbum.action.MULTIPLE_ITEMS_PICKER_FROM_COLLECTIONS" />
                <category android:name="android.intent.category.OPENABLE" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="image/*" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.htc.HTCAlbum.action.MULTIPLE_ITEMS_PICKER_FROM_COLLECTIONS" />
                <category android:name="android.intent.category.OPENABLE" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="video/*" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.htc.HTCAlbum.action.MULTIPLE_ITEMS_PICKER_FROM_COLLECTIONS" />
                <category android:name="android.intent.category.OPENABLE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.htc.HTCAlbum.action.ITEM_PICKER_FROM_COLLECTIONS" />
                <category android:name="android.intent.category.OPENABLE" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="image/*" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.htc.HTCAlbum.action.ITEM_PICKER_FROM_COLLECTIONS" />
                <category android:name="android.intent.category.OPENABLE" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="video/*" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.htc.HTCAlbum.action.ITEM_PICKER_FROM_COLLECTIONS" />
                <category android:name="android.intent.category.OPENABLE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.GET_CONTENT" />
                <category android:name="android.intent.category.OPENABLE" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="image/*" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.GET_CONTENT" />
                <category android:name="android.intent.category.OPENABLE" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="video/*" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.PICK" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="image/*" />
                <data android:mimeType="video/*" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.PICK" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="vnd.android.cursor.dir/image" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.PICK" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="vnd.android.cursor.dir/video" />
            </intent-filter>
        </activity>
        <activity android:name="com.htc.album.picker.PickerItemActivity" android:excludeFromRecents="true" android:launchMode="singleTop" android:configChanges="keyboardHidden|orientation|screenSize">
            <intent-filter>
                <action android:name="com.htc.album.ACTION_PICK_NF_SINGLE_ITEM" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="*/*" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.htc.album.ACTION_PICK_NF_SINGLE_ITEM" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="image/*" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.htc.album.ACTION_PICK_NF_SINGLE_ITEM" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="video/*" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.htc.album.ACTION_PICK_NF_MULTIPLE_ITEM" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="*/*" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.htc.album.ACTION_PICK_NF_MULTIPLE_ITEM" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="image/*" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.htc.album.ACTION_PICK_NF_MULTIPLE_ITEM" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="video/*" />
            </intent-filter>
        </activity>
        <activity android:name=".picker.PickerDeleteActivity" android:excludeFromRecents="true" android:launchMode="singleTop" android:configChanges="keyboardHidden|orientation|screenSize">
            <intent-filter>
                <action android:name="com.htc.album.ACTION_PICK_DELETE" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="*/*" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.htc.album.ACTION_PICK_DELETE" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="image/*" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.htc.album.ACTION_PICK_DELETE" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="video/*" />
            </intent-filter>
        </activity>
        <activity android:label="@string/str_app_name3" android:icon="@drawable/albums" android:name=".PickWallpaper" android:configChanges="keyboardHidden|orientation|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.SET_WALLPAPER" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:label="@string/camera_setas_wallpaper" android:icon="@drawable/albums" android:name=".TabPluginDevice.Wallpaper" android:configChanges="keyboardHidden|orientation|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.ATTACH_DATA" />
                <data android:mimeType="image/*" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:label="@string/crop_label" android:name=".TabPluginDevice.WallpaperPreviewer" android:launchMode="singleTop" android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity android:label="@string/crop_label" android:name=".TabPluginDevice.CropImage" android:launchMode="singleTop" android:configChanges="keyboardHidden|orientation|screenSize" android:hardwareAccelerated="false">
            <intent-filter>
                <action android:name="com.android.camera.action.CROP" />
                <data android:mimeType="image/*" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.ALTERNATIVE" />
                <category android:name="android.intent.category.SELECTED_ALTERNATIVE" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.htc.album.action.CROP" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="image/*" />
            </intent-filter>
        </activity>
        <activity android:theme="@android:style/Theme.DeviceDefault.NoActionBar.Fullscreen" android:name=".addons.ActivityImageViewer" android:excludeFromRecents="true" android:launchMode="singleTop" android:configChanges="keyboardHidden|orientation|screenSize">
            <intent-filter>
                <action android:name="com.htc.album.action.VIEW_WEB_PHOTO" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="image/png" />
                <data android:mimeType="image/jpg" />
                <data android:mimeType="image/jpeg" />
                <data android:mimeType="image/gif" />
                <data android:mimeType="image/x-ms-bmp" />
                <data android:mimeType="image/bmp" />
                <data android:mimeType="image/vnd.wap.wbmp" />
                <data android:mimeType="image/jps" />
                <data android:mimeType="image/x-jps" />
                <data android:mimeType="image/mpo" />
                <data android:mimeType="image/x-mpo" />
                <data android:scheme="http" />
                <data android:scheme="https" />
            </intent-filter>
        </activity>
        <activity android:label="@string/photo_enhancer_app_name" android:name=".addons.photoenhancer.PhotoEnhancer" android:configChanges="keyboardHidden|orientation|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <data android:mimeType="image/*" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name="com.htc.album.SocialNetwork.ActivityMainFriends" android:configChanges="keyboardHidden|orientation|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.htc.album.actions.opensense.friends" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name="com.htc.album.SocialNetwork.ActivityMainFriendsPicker" android:configChanges="keyboardHidden|orientation|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name="com.htc.album.TabPluginDLNA.ActivityMainExpandBrowser" android:launchMode="singleTop" android:configChanges="keyboardHidden|orientation|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name="com.htc.album.TabPluginDLNA.ActivityMainServers" android:configChanges="keyboardHidden|orientation|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:theme="@style/Theme.white" android:name="com.htc.album.TabPluginDLNA.ActivityMainFolders" android:configChanges="keyboardHidden|orientation|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:theme="@style/Theme.white" android:name="com.htc.album.TabPluginDLNA.ActivityMainMediaList" android:excludeFromRecents="true" android:launchMode="singleTop" android:configChanges="keyboardHidden|orientation|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.htc.album.action.DLNA_BROWSE_DMS" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="*/*" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.htc.album.action.DLNA_VIEW_SERVER_PHOTO" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="*/*" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.htc.album.action.LAUNCH_DMC_PHOTO" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="*/*" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.htc.album.action.LAUNCH_DMC_VIDEO" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="*/*" />
            </intent-filter>
        </activity>
        <activity android:theme="@style/Theme.Translucent" android:name="com.htc.album.DetailDlgActivity" android:clearTaskOnLaunch="true" android:stateNotNeeded="true" android:excludeFromRecents="true" android:launchMode="singleTask" android:configChanges="keyboardHidden|orientation|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.View" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:theme="@style/Theme.popdialog" android:name=".helper.ThreeDConvert" android:configChanges="keyboardHidden|orientation|screenSize">
            <intent-filter>
                <action android:name="com.htc.album.actions.threedconvert" />
                <data android:mimeType="image/jps" />
                <data android:mimeType="image/mpo" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <receiver android:name="com.htc.opensense2.album.util.DrmManager$DRMActionActivityBroadcastReceiver" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.DOWNLOAD_COMPLETED" />
            </intent-filter>
        </receiver>
        <activity android:theme="@android:style/Theme.NoTitleBar.Fullscreen" android:label="@string/view_label" android:name=".TabPluginDevice.GifPlayer" android:configChanges="keyboardHidden|orientation|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name="MainActivity" android:excludeFromRecents="true" android:launchMode="singleTop" android:configChanges="keyboardHidden|orientation|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name="com.htc.album.onlineAlbum.OnlineAlbumsActivity" android:excludeFromRecents="true" android:launchMode="singleTop" android:configChanges="keyboardHidden|orientation|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".TabPluginDevice.LockScreen" android:configChanges="keyboardHidden|orientation|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.SET_LOCKSCREEN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SET_LOCKSCREEN" />
                <data android:mimeType="image/*" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <receiver android:name="com.htc.album.AlbumMain.ActivityMainDropList$DMCInfoBroadcaseReceiver" android:permission="com.htc.album.permission.DMCInfo_RECEIVER" android:exported="true">
            <intent-filter>
                <action android:name="com.htc.album.action.DMCINFO" />
            </intent-filter>
        </receiver>
    </application>
    <permission android:label="@string/permission_dmcinfo_label" android:name="com.htc.album.permission.DMCInfo_RECEIVER" android:protectionLevel="signature" android:description="@string/permission_dmcinfo_description" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.googleapps.permission.GOOGLE_AUTH.lh2" />
    <uses-permission android:name="com.google.android.googleapps.permission.GOOGLE_AUTH.youtube" />
    <uses-permission android:name="com.google.android.googleapps.permission.GOOGLE_AUTH.YouTubeUser" />
    <uses-permission android:name="android.permission.SET_WALLPAPER" />
    <uses-permission android:name="com.htc.permission.SOCIAL_NETWORK" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_OWNER_DATA" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_DRM" />
    <uses-permission android:name="android.permission.ACCESS_CACHE_FILESYSTEM" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="com.htc.socialnetwork.permission.useprovider" />
    <uses-permission android:name="com.android.browser.permission.READ_HISTORY_BOOKMARKS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_SYNC_STATS" />
    <uses-permission android:name="android.permission.BACKUP_DATA" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SECURE_SETTINGS" />
    <uses-permission android:name="com.google.android.providers.gmail.permission.READ_GMAIL" />
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.ACCESS_DOWNLOAD_MANAGER" />
    <uses-permission android:name="android.permission.ACCESS_ALL_DOWNLOADS" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="com.westtek.jcp.PRINT" />
    <uses-permission android:name="com.android.email.permission.READ_ATTACHMENT" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="htc.pluginmanager.permission.USE_PROVIDER" />
    <uses-permission android:name="android.permission.INJECT_AUDIO_VOLUME_SETTINGS" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="com.htc.idlescreen.permission.WALLPAPER" />
    <uses-permission android:name="com.htc.flickr.permission.useprovider" />
    <uses-permission android:name="htc.socialnetwork.facebook.permission.SYSTEM_USE" />
    <uses-permission android:name="com.htc.vmm.service.permission.VMMEngineService" />
    <uses-permission android:name="htc.pluginmanager.permission.USE_PROVIDER" />
    <uses-permission android:name="android.permission.READ_WRITE_OMA_DRM" />
</manifest>
